<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.buildDockerImageLaunchConfigurationType">
<stringAttribute key="dockerConnection" value="unix:///var/run/docker.sock"/>
<booleanAttribute key="forcerm" value="true"/>
<booleanAttribute key="noCache" value="true"/>
<booleanAttribute key="quietBuild" value="false"/>
<stringAttribute key="repoName" value="zedaav/ubuntu-box:latest"/>
<booleanAttribute key="rm" value="false"/>
<stringAttribute key="sourcePathLocation" value="/ubuntu-box"/>
<booleanAttribute key="sourcePathWorkspaceRelativeLocation" value="true"/>
</launchConfiguration>
